.aside{
  width: 380px;
  height: 896px;
  margin-top: -24px;
  margin-left: 72px;
  box-shadow:0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  .title{
    height: 48px;
    line-height: 48px;
    padding: 0 13px;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #D7E9FF;
    color: #333333;
  }
  .list{
    .item{
      a{
        display: block;
        width: 321px;
        height: 72px;
        padding: 0 30px;
        margin: 24px auto;
        line-height: 72px;
        background-color: #D7E9FF;
        color: #ADADAD;
        font-weight: bold;
        font-size: 26px;
        border-radius: 5px;
        &.active{
          background-color: #64B8E6;
          color: #ffffff;
        }
      }
    }
  }
}