.header{
  height: 184px;
  background-color: #2785DB;
  .left{
    width: 436px;
    height: 80px;
    margin-top: 36px;
    margin-left: 30px;
  }
  .search-bar{
    margin: 61px auto 0;
    width: 846px;
    height: 42px;
    background-color: pink;
  }
  .right{
    margin-top: 50px;
    margin-right: 94px;
    color: #ffffff;
    .avatar{
      width: 68px;
      height: 68px;
      margin-right: 20px;
      vertical-align: middle;
    }
    .user-info{
      vertical-align: middle;
      .user-info-group{
        margin-bottom: 12px;
        .name{
          height: 23px;
          font-size: 20px;
          margin-right: 15px;
          vertical-align: text-bottom;
        }
        .dept{
          height: 21px;
          font-size: 16px;
          vertical-align: text-bottom;
        }
      }
      .btn-group{
        .btn{
          width: 120px;
          height: 30px;
          text-align: center;
          font-size: 16px;
          line-height: 30px;
          border: 1px solid #ffffff; /*no*/
          cursor: pointer;
          &:first-child{
            margin-right: 14px;
          }
        }
      }
    }
  }
}